main {
    display: flex;
   align-items: center;
    flex-direction: column;
}

.clock {
    display: flex;
    gap: 4px;
    border: solid 2px black;
    width: fit-content;
    font-size: 50px;
    padding: 5px;
}

.date { 
    display: flex;
    gap: 4px;
    border: solid 2px black;
    width: fit-content;
    font-size: 50px;
    padding: 5px;
}